*{
  font-family: lora;
 
}
/* TITULOS */
.integrantesText{
  text-align: center;
  font-size: 60px;
  color: #000000;
  margin-top: 20px;
  
}

/* NAVBAR SUPERIOR*/ 
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
 /* background: rgb(82,214,206);
background: radial-gradient(circle, rgba(82,214,206,1) 6%, rgba(38,58,100,1) 89%); */
background: rgb(82,214,206);
background: radial-gradient(circle, rgba(82,214,206,0.8155637254901961) 6%, rgba(38,58,100,1) 89%);
}
.navbar a{
  font-size: 300%;
}




#carouselExample img {
    width: 1400px;
    height: 853px;
  }


#boton{
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  
}
/*PUBLICACIONES*/







/*REDES SOCIALES*/
.social-sharing {
	display: block;
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
  z-index: 100;
}

.social-sharing ul.menu-social {
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrapwrap;
	flex-wrap: nowrap;
}

.social-sharing ul.menu-social li {
	flex: 0 1 40px;
	height: 40px;
}
.social-sharing ul.menu-social li.newsletter {
	flex: 1 1 auto;
	line-height: 40px;
	position: relative;
	background-color: #fafafa;
	background-image: repeating-linear-gradient(135deg, #ffe4e1 0px, #ffe4e1 5px, transparent 5px, transparent 10px, #e1f3ff 10px, #e1f3ff 15px, transparent 15px, transparent 20px);
}
.social-sharing ul.menu-social li.next {
	flex: 1 1 auto;
}

/*COPYRIGHT*/
h6, p {
  color: grey;
  text-align: center;
}


