*{
  font-family: lora;
 
}

/* TITULOS */
.integrantesText{
  text-align: center;
  font-size: 40px;
  color: #000000;
  margin-top: 20px;
  
}

/* NAVBAR SUPERIOR*/ 
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
 /* background: rgb(82,214,206);
background: radial-gradient(circle, rgba(82,214,206,1) 6%, rgba(38,58,100,1) 89%); */
background: rgb(82,214,206);
background: radial-gradient(circle, rgba(82,214,206,0.8155637254901961) 6%, rgba(38,58,100,1) 89%);
}
.navbar a{
  font-size: 300%;
  width: 100%;
}




#carouselExample img {
    
	width: 100%;
  }


#boton{
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  
}
/*PUBLICACIONES*/









/*COPYRIGHT*/
h6, p {
  color: grey;
  text-align: center;
}


/* Estilo para dispositivos con pantalla grande */
@media (min-width: 992px) { 
	.container-fluid {
	  width: 80%;
	  margin: auto;
	}
  }
  
  /* Estilo para dispositivos con pantalla mediana */
  @media (min-width: 768px) and (max-width: 991px) {
	.container-fluid {
	  width: 90%;
	  margin: auto;
	}
	
  }
  
  /* Estilo para dispositivos con pantalla pequeña */
  @media (max-width: 767px) {
	.container-fluid {
	  width: 100%;
	  margin: auto;
	}
  }
p{
  color: black;
}

.copy{
  color: black;
}
